body {
    margin: 0;
}

html {
    background-color: lightgray;
}

.App {
    background-color: lightgray;
    ;
}


nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: White;
}

nav li {
    float: left;
}


nav li * {
    display: block;
    color: black;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}

.grid-align {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.card {
    width: 350px;
    margin: 20px;
    padding: 30px;
    border: solid;
    border-radius: 40px;

    box-shadow: 10px 10px 30px #888888;
}



.hover-size {
    transition: transform .2s;
}

.hover-size:hover {
    transform: scale(1.05);
}

.content {
    display: flex;
    flex-direction: column;
    padding: 30px;

    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    box-shadow: 0 0 30px black;
}

.center {
    text-align: center;
}


.learnsetinfo {
    display: flex;
}


.language {
    margin-left: 100px;
}

.title {
    font-size: 30px;
}


.links * {
    display: inline-block;
    width: 100px;
    padding: 25px;
    margin: 20px 0;
    margin-right: 85px;
    border: solid;
    border-radius: 20px;
    color: black;
}


tr {
    border: solid rebeccapurple;
}

tbody td {
    border: solid 1px;
    border-radius: 10px;
    padding: 6px;
}


.recordCard {
    text-align: center;
    width: 500px;
    height: 310px;
    background-color: lightblue;
    border-radius: 20px;
}

.recordCard h1{
    padding-top: 115px;
}

.btn {
    margin: 10px;
    font-size: 20px;
    border: 0;
    background-color: lightgray;
    padding: 20px;
    border-radius: 20px;
    width: 240px;
}