.links * {
    display: inline-block;
    width: 100px;
    padding: 25px;
    margin: 20px 0;
    margin-right: 85px;
    border: solid;
    border-radius: 20px;
    color: black;
}

tbody td {
    border: solid 1px;
    border-radius: 10px;
    padding: 6px;
}